{% extends 'base.html' %}


{% block title %} Projeto - Visualizacao {% endblock %}

{% block body %}

<div class="container">
    <h1>Análise das perguntas e tópicos no StackOverflow</h1>

<p>
Este projeto visa analisar características das perguntas e modelar os principais tópicos.

</p>

<h4>Disciplina: Visualização de Dados</h4>
<h4>Aluno: Levi </h4>
    <br>
    <br>
    <br>
    <ul>
        <li><h4>Resumo das Páginas</h4></li>
        <ul>
  <li>Tags por Ano, exibe algumas informações como: Tempo de resposta, Tamanho médio das perguntas, Votos etc. de cada tag por ano.</li>
  <li>Fluxo das Perguntas, demonstra o fluxo de perguntas e respostas entre os usuários. </li>
  <li>Principais Tópicos, tem por objetivo mostrar os tópicos criados através de <b>LDA</b>.</li>
  <li>Cluster dos Tópicos, mostra a clusterização dos tópicos utilizando <b>t-SNE</b>.</li>
</ul>
    </ul>



</div>

{% endblock %}